<div class="top-bar">
    <!-- Logo -->
    <div class="logo">
        <img
            src="./assets/icons/logo.svg"
            alt="grocerymart"
            class="logo__img"
        />
    </div>
    <h1 class="logo__title">grocerymart</h1>
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="" class="nav-bar__link">
                    Departments
                    <img src="./assets/icons/arrow-down.svg" alt="" />
                </a>
            </li>
            <li>
                <a href="" class="nav-bar__link">
                    Grocery
                    <img src="./assets/icons/arrow-down.svg" alt="" />
                </a>
            </li>
            <li>
                <a href="" class="nav-bar__link">
                    Beauty
                    <img src="./assets/icons/arrow-down.svg" alt="" />
                </a>
            </li>
        </ul>
    </nav>
</div>
