html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(98%) sepia(3%)
        saturate(350%) hue-rotate(33deg) brightness(113%) contrast(100%);

    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
}
