// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    height: 36px;
    border-radius: 6px;
    padding: 0 14px;

    color: var(--filter-btn-color);
    background: var(--filter-btn-bg);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
}

// Like
.like-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--like-btn-bg);
    box-shadow: 0 20px 60px var(--like-btn-shadow);

    &:not(&--liked) .like-btn__icon--liked {
        display: none;
    }
    &--liked .like-btn__icon {
        display: none;
    }

    &__icon--like {
        margin-top: 6px;
    }
}
