@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    display: none;   

    &__inner {
        --inner-padding: 30px;

        position: relative;
        border-radius: 20px;
        background: var(--drop-down-bg-color);
        box-shadow: 0 40px 90px 20px var(--drop-down-shadow-color);
        padding: var(--inner-padding);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--drop-down-arrow-color);
        }
    }
}
.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
    position: relative;

    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}
.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }
    &__icon {
        position: relative;

        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
    }
    &__content {
        flex: 1;
    }
    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
    &__icon-2 {
        position: absolute;

        right: 0;
        bottom: 0;

        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }
    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
    &__list {
        margin-top: 19px;
    }
    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }
    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }
    &__link {
        display: block;
        font-size: 1.4rem;
        padding: 7px 0;
        font-style: normal;
        line-height: 142.857%;
    }
}
.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-column-width);

    display: none;
    grid-template-columns: repeat(3, 1fr);
    padding-left: var(--inner-padding);
    gap: var(--inner-padding);
    overflow-y: auto;

    &--not-main {
        position: initial;
        inset: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-height);
        padding-left: 0;

    }
}
