.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    // display: none;

    &__inner {
        --inner-max-height: min(582px, 100vh - 158px);
        --inner-padding: 30px;

        position: relative;
        max-height: var(--inner-max-height);
        border-radius: 20px;
        background: var(--drop-down-bg-color);
        box-shadow: 0 40px 90px 20px var(--drop-down-shadow-color);
        padding: var(--inner-padding);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--drop-down-arrow-color);
        }
    }
}
.top-menu {
    max-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);

    &__main {
        width: 292px;
        max-height: inherit;
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}
.menu-column {
    display: flex;
    gap: 14px;

    &__icon {
        position: relative;

        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }
    &__content {
        flex: 1;
    }
    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    &__icon-2 {
        position: absolute;

        right: 0;
        bottom: 0;

        width: 24px;
        height: 24px;
        object-fit: cover;
        filter: var(--menu-column-icon-color);
    }
    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
    &__list {
        margin-top: 19px;
    }
    &__link {
        display: block;
        font-size: 1.4rem;
        padding: 7px 0;
        font-style: normal;
        line-height: 142.857%;
        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}
